<br>
<br>
<table border="0" cellspacing="0" cellpadding="0" width="759" bgcolor="#ffffff">
<tr>
<td width="15" bgcolor="#ffffff"></td>
<br>
<td width="5" bgcolor="#ffffff"></td>
</tr>
</table>
<div id="bodycontents">
<table width="80%" cellspacing="10">
  <tbody>
    <tr>
	  <td width="30%"><a href="#"><img src="../about_us/EyeTap5.bmp" alt="Click for full-size" border="0"></a>
	                     </td>
	  <td width="80%"><a href="about_us/hilab/index.html"><b><h4>EyeTap 
Personal Imaging Lab</b></h4></a></b>Formerly known as the Humanistic
Intelligence Lab, the EyeTap Personal Imaging Lab specializes in the areas
of personal imaging, mediated reality and wearable computing. The lab name
change
clearly emphasizes our strength in personal imaging through powerful technologies among which EyeTap technology plays a major role. 
       </td>
	</tr>
    <tr>
	  <td width="30%"><a href="../dusting/deconference/decontrabandingroom_in_daylight/dsc46.jpg">
           <img src="../about_us/ETRC2.bmp" alt="Click for full-size" border="0"></a>
</td>
	  <td width="80%"><a href="about_us/etrc/index.html"><b><h4>Existential Technology
Research Centre</h4></b></a>The Existential Technology Research Centre, in short the ETRC, is a research facility where concepts of
empowering individuals are developed, tested and taken into action. The concept of empowering individuals forms a philosophical basis
of Existential Technology.
					</td>
	</tr>
    <tr>
	  <td width="30%"><a href="../dusting/knox_college/v129.jpg">
	<img src="../about_us/people6.bmp" alt="Click for full-size" border="0"></a>
</td>
	  <td width="80%"><a href="about_us/people/index.html"><b><h4>People</h4></a></b>Our lab comprises of a small group of very talented people.  
                           <td>
	</tr>
    <tr>
	  <td width="30%"><a href="../dusting/ece385lab1_2003/hello1.jpg">
       <img src="../about_us/contact4.bmp" alt="Click for full-size" border="0"></a>
</td>
	  <td width="80%"><a href="about_us/contact.html"><b><h4>Contact Us</h4></b></a>For more detailed information, please contact us.
 </td>
	</tr>
  </tbody>
</table>  
<!--<td width="380"><img src="eyetap_corp.gif"></td> Commented out for possible usage in the future  --> 
</div>
<br>
<br>
<footer>
<td>&copy;2004 EyeTap</td>
</footer>
