body
{
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	background-image: url(images/bg.gif);
	background-repeat: y-repeat;
}

div#container
{
	clear: both;
	width: 759px;
}

/*********************
 TOPNAVIGATION
 *********************/
div#topcontainer
{
	clear: both;
	width: 759px;
	background-image: url(images/topnavigationbg.gif);
	background-repeat: no-repeat;
	background-position: 0% 0%;
}

div#logo
{
	width: 189px;
	height: 50px;
	background-image: url(images/logo.gif);
	background-repeat: no-repeat;
	background-position: 0% 0%;
}

div#topnavigation
{
	padding-top: 2px;
	padding-left: 189px;
	margin-bottom: 2px;
	margin-top: -50px;
	width: 570px;
	height: 40px;
	float: left;
}

#topnavigation b
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #99ccff;
	text-decoration: none;
}

#topnavigation a
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}

#topnavigation a:hover
{
	color: #99ccff;
}

/*****************
 Quick Navigation
 *****************/
div#quicknavigation
{
	margin-left: 15px;
	margin-bottom: 2px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #666666;
}

#quicknavigation b
{
	color: #99ccff;
}

#quicknavigation a
{
	color: #666666;
	text-decoration: underline;
}

#quicknavigation a:hover
{
	color: #99ccff;
	text-decoration: none;
}


/*****************
 SEARCH
 *****************/
div#searchbox
{
	float: left;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	padding-left: 2px;
	padding-bottom: 2px;
	color: #666666;
}

div#searchcontents
{
	clear: both;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 5px;
	margin-bottom: 25px;
}

#searchcontents a
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9pt;
	color: #3366ff;
	text-decoration: underline;
}

#searchcontents a:hover
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9pt;
	color: #ff0000;
	text-decoration: none;
}


#searchcontents td
{
    font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
}

.searchform
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #666666;
	height: 15px;
	border: 1px solid #666666;
}

/*****************
 Sub Navigation
 *****************/

div#subnavigation
{
	margin-top: 1px;
	/*margin-bottom: 5px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #cccccc;
	background-image: url(images/tick.gif);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	width: 759px;
}

#subnavigation b
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

#subnavigation a
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	text-decoration: underline;
}

#subnavigation a:hover
{
	text-decoration: none;
}

/*****************
 Contents
 *****************/
div#contents
{
	clear: both;
	width: 759px;
	margin-bottom: 5px;
}

div#bodycontents
{
	clear: both;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 5px;
	margin-bottom: 25px;
}

#bodycontents td
{
    font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
}

/****************
 Footer
 ****************/
div#footer
{
   	clear: both;
	width: 759px;
	background-image: url(images/topnavigationbg.gif);
	background-repeat: no-repeat;
	background-position: 0% 0%;
}

#footer td
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
}

#footer a
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
}

#footer a:hover
{
	text-decoration: underline;
}

/****************
 Publications
 ****************/
div#papers
{
	clear: both;
	width: 659px;
}

#papers td
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}

#papers a
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9pt;
	color: #3366ff;
	text-decoration: underline;
}

#papers a:hover
{
	color: #ff0000;
	text-decoration: none;
}