<br>
<div id="bodycontents">
<p>
<table width="80%" cellspacing="15">
  <tbody>
    <tr>
	  <td width="20%"><a href="../dusting/ece385lab89_2003/tvsquare.jpg"><img src="../opportunities/students2.bmp" alt="Click for full-size" border="0">
	               </td>
	  <td width="80%"><a href="opportunities/students.html"><b><h4>Students</h4></a></b>For
students interested in joining the ePI Lab team</td>
	</tr>
     <tr>
	  <td width="20%"><a href="../dusting/nikon_visit_to_president_peter_burke/nikon_visit.jpg"><img src="../opportunities/nikon2.bmp" alt="Click for full-size" border="0">
	                </td>
	  <td width="80%"><a href="opportunities/sponsors.html"><b><h4>Sponsors</h4></a></b>
We would like to acknowldge all the sponsors that have helped us. </td>
	</tr>
      <tr>
	  <td width="20%"><a href="wearcam/microsec/s082p.html"><img src="../opportunities/lab2.bmp" alt="Click for full-size" border="0">
	                </td>
	  <td width="80%"><a href="opportunities/corporate.html"><b><h4>Corporate</h4></a></b>
Currently our lab is opening our doors to industry for sponsorship and development opportunities.</td>
	</tr>
</tbody>
</table>
</div>
<!-- End Contents -->
<!-- Footer -->
<div id="footer">
<table border="0" cellspacing="0" cellpadding="0" width="759" background="../see_also_bg.gif">
<tr><td><img src="../see_also.gif"></td></tr></table><table border="0" cellspacing="0" cellpadding="0" width="759"><tr><td width="25%" valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td width="10">&nbsp;</td>
<td>&copy;2004 EyeTap</td>
</tr>
</table>
</td><td width="25%" valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td width="10">&nbsp;</td>
<td></footer></td>
</tr>
</table>
</td><td width="25%" valign="top">&nbsp;</td><td width="25%" valign="top">&nbsp;</td></tr></table>
</div>
<!-- End Footer -->
</body>
</html>