<br><br><br>
<div id="bodycontents">
<table width="80%" cellspacing="10">
  <tbody>
    <tr>
	  <td width="30%"><a href="../research/eyetap/design.jpg"><img src="../research/design_thumb.jpg" alt="Click for full-size" border="0"></a>
	                     </td>
	  <td width="80%"><a href="research/eyetap.html"><b><h4>EyeTap</b></h4></a></b>
EyeTap lies at the center of the ePI Lab research. 
EyeTap technology is the key enabling technology for <a href="research/medr.html">Mediated Reality</a> which lies at the forefront of wearable computing.</td>
	</tr>
    <tr>
	  <td width="30%"><a href="../microsec/v105.jpg">
           <img src="../research/v105_thumb.jpg" alt="Click for full-size" border="0"></a>
</td>
	  <td width="80%"><a href="research/personalimaging/index.html"><b><h4>Personal
Imaging</h4></b></a>
The ePI Lab has 30 year experience in Personal Imaging. Many powerful
technologies including <a href="research/medr.html">mediated reality</a> and <a href="research/comparametrics.html">comparametrics</a> have been developed through our lab's research and commitment. 
					</td>
	</tr>
    <tr>
	  <td width="30%"><a href="../dusting/dusting_with_stef/lensmid_wireframes/dsc541.jpg">
	<img src="../research/steve_eyetap_thumb.jpg" alt="Click for full-size" border="0"></a>
</td>
	  <td width="80%"><a href="research/wearables/wearcomp/wearables.html"><b><h4>Wearable Computing</h4></a></b>
Wearable Computers are at the apex of the current digital convergence
revolution.  
					 </td>
	</tr>
    <tr>
	  <td width="30%"><a href="../urbine/urbine_running/dsc229rot90dc.jpg">
       <img src="../research/urbine_thumb.jpg" alt="Click for full-size" border="0"></a>
</td>
	  <td width="80%"><a href="research/existech/index.html"><b><h4>Existential
Technology</h4></b></a>
Existential Technology is a new research area of the ePI Lab,
operating under the Existential Technology Research Centre(ETRC). The ETRC
has dealt with wind and solar energy research. The 
philosophy behind the ETRC is empowering people through innovative
technologies such as EyeTap, thus making individuals watch the
watcher(Sousveillance vs. Surveillance). </td>
	</tr>
  </tbody>
</table>  
</div>
<!-- End Contents -->
<!-- Footer -->
<div id="footer">
<table border="0" cellspacing="0" cellpadding="0" width="759" background="../see_also_bg.gif">
<tr><td><img src="../see_also.gif"></td></tr></table><table border="0" cellspacing="0" cellpadding="0" width="759"><tr><td width="25%" valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td width="10">&nbsp;</td>
<td>&copy;2004 EyeTap</td>
</tr>
</table>
</td><td width="25%" valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td width="10">&nbsp;</td>
<td></footer></td>
</tr>
</table>
</td><td width="25%" valign="top">&nbsp;</td><td width="25%" valign="top">&nbsp;</td></tr></table>
</div>
<!-- End Footer -->
</body>
</html>